In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.1'

In [4]:
import os
os.curdir

'.'

In [8]:
df = pd.read_csv('../2_docker_sql/test.csv', nrows=100)

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [16]:
from sqlalchemy import create_engine

In [17]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [18]:
engine.connect()

In [ ]:
while True:
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [19]:
print(pd.io.sql.get_schema(df, name='taxi', con=engine))

CREATE TABLE taxi (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [21]:
df_iter = pd.read_csv('../2_docker_sql/test.csv', iterator=True, chunksize=100000)

In [39]:
df = next(df_iter)

In [24]:
len(df)

100000

In [25]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [28]:
df.head(n=0).to_sql(name='taxi', con=engine, if_exists='replace')

0

In [42]:
pd.read_sql("SELECT COUNT(*) FROM taxi;", con=engine)

     count
0  1369765

In [36]:
df.to_sql(name='taxi', con=engine, if_exists='append')

1000

In [41]:
while not df.empty:
    print("inserting another chunk...")
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='taxi', con=engine, if_exists='append')

    print("chunk inserted.")
    df = next(df_iter)

inserting another chunk...
chunk inserted.
inserting another chunk...
chunk inserted.
inserting another chunk...
chunk inserted.
inserting another chunk...
chunk inserted.
inserting another chunk...
chunk inserted.
inserting another chunk...
chunk inserted.
inserting another chunk...
chunk inserted.
inserting another chunk...
chunk inserted.
inserting another chunk...
chunk inserted.
inserting another chunk...
chunk inserted.
inserting another chunk...
chunk inserted.
inserting another chunk...

C:\Users\Ashton\AppData\Local\Temp\ipykernel_5468\419852121.py:10: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

chunk inserted.
inserting another chunk...
chunk inserted.

StopIteration: